@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffc75f;
  --secondary-color: #845ec2;
  --primary-text: #ffffff;
}

.header {
  height: 5rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  border-bottom: 2px solid #00000010;
}

.headerText {
  color: var(--primary-text);
  margin-left: 2rem;
  font-family: "Love Ya Like a sister";
}
